/*--------------------------- CSS3 FOR MOBILE --------------------------*/
@media screen and (max-width: 480px) {
	.body {
		width: 90%;
		font-size: 95%;
	}
	/*---------------------MAIN HEADER MOBILE ---------------------------*/
	.mainheader nav {
		height: 160px;
	}	
	.mainheader ul {
		width: 100%;
		padding: 0;
	}
	.mainheader nav ul li {
		display: inline;
	}
	.mainheader a:link, .mainheader a:visited {
		display: block;
	}
	.mainheader a:hover, .mainheader a:active {
		color: white;
		background-color: #f58233;
		text-shadow: none;
	}
	.maincontent {
		width: 100%;
	}
	.theSidebar {
		width: 96%;
	}
}

    /*-------------------------css3 para mobile ---------------------------*/
    @media screen and (max-width: 360px) {
        .body {
            width: 90%;
            font-size: 95%;
        }
        /*---------------------MAIN HEADER MOBILE ---------------------------*/
        .mainheader nav {
            height: 160px;
        }	
        .mainheader ul {
            width: 100%;
            padding: 0;
        }
        .mainheader nav ul li {
            display: inline;
        }
        .mainheader a:link, .mainheader a:visited {
            display: block;
        }
        .mainheader a:hover, .mainheader a:active {
            color: white;
            background-color: #f58233;
            text-shadow: none;
        }
        .maincontent {
            width: 100%;
        }
        .theSidebar {
            width: 96%;
        }
    }